{%extends 'base.html'%}
{%load static%}

{%block content %}
<div class="imagebg" style="background-image: url('{% static 'images/Frame 2395 (2).png'%}'); background-size: cover;">
  <div class="overlay">
    <div class="layercontent">
      <h2 class="h2display text-white">Get Fresh <br> Produce Directly <br> From The Farm</h2>
      <p class="text-white"> Get access to healthy food stuffs and order anyone of your choice.</p>
      <a href="{%url 'products'%}" class=" btn btn-primary mt-50">shop now</a>
    </div>
  </div>


</div>

<div class="container-fluid pb-4">
  <div class="row justify-content-center py-3 align-items-center flex-column flex-md-row">
    <div class="col-6 col-md-4 d-flex  order-2 order-md-1">
      <img src="{%static 'images/image 17.png'%}" alt="" srcset="" width="300px">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-start order-1 order-md-2">
      <h4 class="text-green">About Us</h4>
      <p class="text-justify">Welcome to Farmers Point, your number one virtual marketplace that seamlessly connects you
        to farmers that have a wide range of free produces readily available at your fingertips. Our goal at Farmers
        Point is to give our valuable customers an easy, sustainable option to buy fresh, local goods and assist
        small-scale farmers. <br>
        Moreover, we pride ourselves in our commitment to providing a huge selection of produce that are fresh, organic
        and also locally sourced. We work hard to provide a wide variety of goods that live up to our strict standards
        for quality and sustainability, ranging from seasonal fruits and vegetables to grass-fed meats and handmade
        goods.</p>
    </div>
  </div>

  <div class="row justify-content-center py-3 align-items-center flex-column flex-md-row">
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex  flex-column justify-content-start order-3 order-md-1">
      <h4 class="text-green">Our Story</h4>
      <p class="text-justify">Farmers Point is an online platform that connects farmers and consumers, bridging the gap
        between rural and urban communities. It is more than just an online farmers market. Our journey began with a
        straightforward goal: to support smallholder farmers all over Nigeria while making it simpler for Nigerians to
        get fresh and healthful goods. <br>
        No matter where they live, everyone should have access to wholesome food, and this is the bedrock of Farmers
        Point. We are thrilled to be a part of Nigeria's agriculture sector reform and look forward to strengthening
        farmer empowerment and transforming the nation's food access.
      </p>
    </div>

    <div class="col-6 col-md-4 d-flex  align-items-center order-4 order-md-2 justify-content-end">
      <img src="{%static 'images/Frame 2487.png' %}" alt="" srcset="" width="300px">
    </div>
  </div>

  <div class="row justify-content-center py-3 align-items-center flex-column flex-md-row">
    <div class="col-6 col-md-4 d-flex  align-items-center order-6 order-md-1">
      <img src="{%static 'images/Frame 2486.png' %}" alt="" srcset="" width="300px">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex  flex-column justify-content-start order-5 order-md-2">
      <h4 class="text-green">Goal and Mission</h4>
      <p class="text-justify">Our goal is to give Nigerian farmers a reliable and sustainable platform to sell their
        fresh produce to customers directly while supporting rural development and sustainable agriculture. We want all
        Nigerians to have access to food that is produced locally, is healthy, and is reasonably priced. <br>
        Our mission is to be the top online farmers market in Nigeria, empowering smallholder farmers and
        revolutionizing the agricultural industry, fostering a culture of healthy eating and food security while
        assisting local farmers and communities. In order to enable a more resilient and sustainable food system for our
        future generations, we work to create a platform that encourages trust, collaboration, and innovation.
      </p>
    </div>

  </div>
</div>

</div>

</div>
{%endblock%}