body{
  font-family: 'Lato', sans-serif;
}

li{
  float: left;
  
}

li a{
  color: #23A636;
  text-decoration: none !important;
}

.imagebg{
  height: 90vh;
  background-image: url( "assets/images/Frame 2395 (2).png");
}

.overlay{
  display: flex;
  height: 90vh;
  background-color: rgba(0,0,0,0.7);
  align-items:center
}

.layercontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0 !important;
}

@media only screen and (min-width: 480px) {
  /* apply styles when the viewport is 480px or wider */
  .layercontent {
    padding-left: 10vw !important;
  }
  .h2display {
    font-size: 46px !important;
  }
}

@media only screen and (max-width: 479px) {
  .text-md-primary{
    color: #1c8b2c !important;
  }
  .h2display{
    font-size: 36px !important;
    }
  }
.h2display{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 36px;
}
.text-white{
  color: #fff;
}

.text-green{
  color:#23A636;
}
 p,h1,h2,h3,h4,h5,h6{
margin: 0;
padding: 0;
 }

.btn{
  padding: 7px 15px;
  text-align: center;
  border: #23A636;

}

.btn-green{
 color: #fff;
 background-color: #1c8b2c;
 text-decoration: none !important;
 border-radius: 50px;
}

.mt-50{
  margin-top: 50px;
}

.mb-50{
  margin-bottom: 50px;
}

.product-list{
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-list-all {
  background-color: #f5f7c0;
  border-radius: 15px;
  border: 2px solid #1c8b2c; /* Add border thickness and color */
}

.round-image{
width: 180px;
height: auto;
border-radius: 150px;

}

.no-decoration{
  list-style: none;
}

.square-image{
  width: 200px;
  height: auto;
 
  
  }

  .square-image-big{
    width: 220px;
    height: auto;
    border-radius: 5px;
   
    
    }
.product-list-all-white{
  border-radius: 5px;
  border: 2px solid #1c8b2c; /* Add border thickness and color */

}
.bg-dark{
  background: linear-gradient(to right, #FFF8DC 50%, #23A636 100%) !important;
}

.text-primary {
  color: #23A636 !important;
}
.active{
text-decoration: underline #1c8b2c;

}
.footer-p{
  margin-bottom:0 !important;
}
.btn-primary:hover {
  color: #FFF8DC !important;
}